
body {
    height: 100vh;
    background-color: rgb(11, 30, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.letter {
  transition: color 1000ms;
}

.navbar {
    font-size: 40px;
    color: rgb(179 98 28);
    margin: 0px;
    position: relative;
    text-align: center;
    background-color: #232e36;
}

a:link {
  color: rgb(222, 228, 143);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(185, 96, 151);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(38, 63, 206);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}



h2{
   margin-top: 10px;
    margin-bottom: 50px;
}


.container{
  position: relative;
  text-align: center;
  color: antiquewhite;
}


.input_form_div{
  color: antiquewhite;
}


button{
  position: relative;
  margin-top: 20px;
  color: honeydew;
  background-color: #f5ac3b;
  height: 40px;
  font-size: large;
  font-weight: bold;
  vertical-align: middle;
  box-shadow: none;
}

input{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 200px;
  height: 20pt;
  left: 50%;
  vertical-align: middle;
  border: 0px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

label{
  font-size: 20px;
  width: 150px;
  text-align: right;
  vertical-align: middle;
  border: 0px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}



.userlistdiv{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  color: antiquewhite;
  top: -100px;
}




ul {
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  background: rgb(11, 30, 51);

  width:max-content;
  list-style-type: square;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  text-align: -webkit-left;
  list-style-type: square;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  white-space: normal;
  width: 650px;
  height: auto;
  background-color: #232e36;
  word-wrap: break-word;
}





.flex-container {
  display: flex;
  background-color: rgb(11, 30, 51);
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
}

.flex-container > div {
  background-color: #232e36;
  width: 100px;
  margin: 10px;
  text-align: center;
  flex-wrap: nowrap;
}
.flex-child {
  flex: 1;
  max-width: 700px; 
}  


.post_div{
  position: relative;
  display:inline;
}




.user_image_div{
  position: relative;
  display:inline;
}

.user_image_div img{
  width: 350px;
  height: 300px;
  display: inline-block;
}


.results_div {
  color: antiquewhite;
  font-size: large;
  font-weight: bold;
}
