{% extends 'base.html' %}
{% block content %}

<div id="input_form_div" class="input_form_div">
    <form action="/users/{{user.id}}/edit" method="POST">
        <p style="font-size: 20px">Hello there! Please enter details</p><br>
        <label for="first_name">First Name:&nbsp;</label><br>
        <input type="text" id="first_name" name="first_name" placeholder={{user.first_name}} onfocus="this.value=''"><br>

        <label for="last_name">Last Name:&nbsp;</label><br>
        <input type="text" id="last_name" name="last_name" placeholder={{user.last_name}} onfocus="this.value=''"><br>

        <label for="image_url">Image URL:&nbsp;</label><br>
        <input type="text" id="image_url" name="image_url" placeholder={{user.image_url}} onfocus="this.value=''"><br>

        <button id="cancel" type="submit">Save</button>
       
   </form>
</div>
<div id="results" class="results_div">
    <a href="/"><button id="reset">CANCEL</button></a>
</div>

{%endblock%}