
{% extends 'base.html' %}
{% block content %}

<div id="input_form_div" class="input_form_div">
    <form action="/posts/{{post.id}}/edit" method="POST">
        <p style="font-size: 20px">Hello there! Please enter the changes in the post</p><br>
        <label for="title">Title:&nbsp;</label><br>
        <input type="text" id="title" name="title" onfocus="this.value=''" placeholder={{post.title}}><br>

        <label for="content">Content:&nbsp;</label><br>
        <input type="text" id="content" name="content" onfocus="this.value=''" placeholder={{post.content}}><br>
        <div class="tag_input_checkbox_div">
            {% for tag in tags %}
                {% if tag in tags_used %} 
                    <label for="tagname" class ="form-control">{{tag.name}} <input type="checkbox" name=tagname value={{tag.id}} checked></label><br>
                {% else %}
                    <label for="tagname" class ="form-control">{{tag.name}} <input type="checkbox" name=tagname value={{tag.id}}></label><br>
                {%endif%}
            {% endfor %}
        </div>
        <button id="save_post" type="submit">Save</button>
   </form>
</div>
<div id="results" class="results_div">
    <a href="/{{post.user_id}}"><button id="reset">Cancel</button></a>
</div>

{%endblock%}